<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Estudiantes
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">Edad</th>
                        <th>Nombre</th>

                        <th data-breakpoints="xs">Institución</th>

                        <th data-breakpoints="xs sm md" data-title="DOB">Curso</th>
                        <th data-breakpoints="xs sm md" data-title="DOB">Docente</th>
                        <th data-breakpoints="xs sm md" data-title="DOB">Progreso</th>
                    </tr>
                </thead>
                <tbody>


                    {{#each estudiante}}

                    <tr>
                        <td>{{edad_persona}}</td>
                        <td>{{nombre_persona}}</td>
                        <td>{{nombre_institucion}}</td>
                        <td>{{nombre_persona}}</td>
                        <td>{{nombre_persona}}</td>

                    </tr>
                    {{/each}}


                   
                </tbody>
            </table>
        </div>
    </div>
</div>